<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">add user</a></li>
                <li><a href="/users">users</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <% if (users.length > 0) { %>
            <ul>
                <% for (let user of users) { %>
                    <li><%= user.name %></li>
                <% } %>
            </ul>
        <% } else { %>
            <h1>No users found!</h1>
        <% } %>
    </main>
</body>

</html>